#section-who-is {
  margin: 0 0 0;
  padding: 100px 0;
}

.who-is-counter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue);
  padding: 40px;
  border-radius: 20px;
  width: fit-content;
  color: var(--light);
}

.who-is-counter-item span:first-of-type {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 300;
}
.who-is-counter-item span:last-of-type {
  white-space: nowrap;
  margin-top: 20px;
  font-size: 46px;
  font-weight: 900;
}
