#section-who-is {
  margin: 0;
  padding: 0;
}

.who-is-counter-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-blue);
  padding: 40px 25px;
  border-radius: 20px;
  width: 100%;
  color: var(--light);
  overflow: hidden;
  transition: all 0.15s ease-out;
}

.who-is-counter-item::before {
  content: "";
  position: absolute;
  display: block;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  background: radial-gradient(#3b78ff30 0%, #3b78ff00 65%);
  z-index: 1;
  right: 0;
  bottom: 0;
  transform: translate(60%, 60%);
  transition: all 2s ease-out;
}

.who-is-counter-item:hover::before {
  transform: translate(40%, 30%);
}

.who-is-counter-item span:first-of-type {
  position: relative;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 300;
  z-index: 2;
}

.who-is-counter-item span:last-of-type {
  position: relative;
  white-space: nowrap;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 900;
  white-space: nowrap;
  z-index: 2;
}
