body {
  max-width: 100vw;
  overflow-x: hidden;
}

#layout {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  background-color: var(--dark-blue-30);
  color: var(--dark-blue);
  font-family: var(--sf-pro-text);
}

/****************
 ** Typography **
 ****************/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue-80);
  font-family: var(--sf-pro-display);
  font-weight: 900;
  line-height: 1.2;
}

p {
  line-height: 1.3;
  font-weight: 500;
}

.section-title {
  position: relative;
  width: fit-content;
  color: var(--dark-blue-80);
}
.section-title span {
  position: relative;
  z-index: 1;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 8px;
  width: 100%;
  background-color: var(--dark-blue-40);
  z-index: 0;
}
.section-title-light {
  color: var(--light);
}
.section-title-light::after {
  background-color: var(--blue);
}
.section-title-centered {
  margin: 0 auto;
  width: fit-content;
}
.section-title-centered span {
  width: fit-content;
  text-align: center;
}

.section-desc {
  font-size: 16px;
  color: var(--dark-blue-60);
}

/****************
 ** Components **
 ****************/

.gp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0 24px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--light);
  text-align: center;
  font-family: var(--sf-pro-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.6px;
  transition: all 0.15s ease-out;
}

.gp-button:hover {
  box-shadow: 0 0 0 3px #3b78ff50;
}
.gp-button:active {
  box-shadow: 0 0 0 2px #3b78ff50;
}

/*******************
 ** miscellaneous **
 *******************/

.card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
}
