:root {
  --blue: #3b78ff;
  --blue-80: #88adff;
  --blue-10: #cdddff;
  --dark-blue: #0a0e16;
  --dark-blue-80: #16191f;
  --dark-blue-50: #353e52;
  --dark-blue-10: #646e85;
  --dark: #101010;
  --light: #fafafa;
}
